<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyq.study.dao.ApproveMapper">
    <resultMap id="BaseResultMap" type="com.wyq.study.pojo.Approve">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="moment_id" property="momentId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="approve_user_id" property="approveUserId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="SMALLINT"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <association property="user" column="user_id" javaType="com.wyq.study.pojo.User">
            <id column="id" property="id" jdbcType="INTEGER"/>
            <result column="username" property="username" jdbcType="VARCHAR"/>
            <result column="profile" property="profile" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    id, moment_id, user_id, approve_user_id, status, gmt_create, gmt_modified
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from approve
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getApprove" resultMap="BaseResultMap" parameterType="com.wyq.study.pojo.Approve">
        select
        <include refid="Base_Column_List"/>
        from approve
        where moment_id = #{momentId,jdbcType=INTEGER} and user_id = #{userId,jdbcType=INTEGER} and status = #{status,jdbcType=SMALLINT}
        limit 0,1
    </select>
    <select id="listApproveUser" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT *
        from user ur left join approve ae on ur.id = ae.user_id
        where moment_id = #{momentId,jdbcType=INTEGER}
        order by gmt_create asc
    </select>
    <select id="listApprovesByMomentId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT *
        from approve ae left join user ur on  ae.user_id = ur.id
        where moment_id = #{momentId,jdbcType=INTEGER}
        order by gmt_create asc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from approve
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteApprove" parameterType="com.wyq.study.pojo.Approve">
    delete from approve
    where user_id = #{userId,jdbcType=INTEGER} AND moment_id = #{momentId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.wyq.study.pojo.Approve">
    insert into approve (id, moment_id, user_id, 
      approve_user_id, status, gmt_create, 
      gmt_modified)
    values (#{id,jdbcType=INTEGER}, #{momentId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{approveUserId,jdbcType=INTEGER}, #{status,jdbcType=SMALLINT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.wyq.study.pojo.Approve">
        insert into approve
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="momentId != null">
                moment_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="approveUserId != null">
                approve_user_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="momentId != null">
                #{momentId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="approveUserId != null">
                #{approveUserId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=SMALLINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wyq.study.pojo.Approve">
        update approve
        <set>
            <if test="momentId != null">
                moment_id = #{momentId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="approveUserId != null">
                approve_user_id = #{approveUserId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=SMALLINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wyq.study.pojo.Approve">
    update approve
    set moment_id = #{momentId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      approve_user_id = #{approveUserId,jdbcType=INTEGER},
      status = #{status,jdbcType=SMALLINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>