<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyq.study.dao.BestRunMapper" >
  <resultMap id="BaseResultMap" type="com.wyq.study.pojo.BestRun" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fathest" property="fathest" jdbcType="DOUBLE" />
    <result column="longest" property="longest" jdbcType="DOUBLE" />
    <result column="average_pace" property="averagePace" jdbcType="DOUBLE" />
    <result column="fast_pace" property="fastPace" jdbcType="DOUBLE" />
    <result column="five_pb" property="fivePb" jdbcType="DOUBLE" />
    <result column="ten_pb" property="tenPb" jdbcType="DOUBLE" />
    <result column="half_marathon_pb" property="halfMarathonPb" jdbcType="DOUBLE" />
    <result column="full_marathon_pb" property="fullMarathonPb" jdbcType="DOUBLE" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fathest, longest, average_pace, fast_pace, five_pb, ten_pb, half_marathon_pb, 
    full_marathon_pb, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from best_run
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from best_run
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.wyq.study.pojo.BestRun" >
    insert into best_run (id, fathest, longest, 
      average_pace, fast_pace, five_pb, 
      ten_pb, half_marathon_pb, full_marathon_pb, 
      user_id)
    values (#{id,jdbcType=INTEGER}, #{fathest,jdbcType=DOUBLE}, #{longest,jdbcType=DOUBLE}, 
      #{averagePace,jdbcType=DOUBLE}, #{fastPace,jdbcType=DOUBLE}, #{fivePb,jdbcType=DOUBLE}, 
      #{tenPb,jdbcType=DOUBLE}, #{halfMarathonPb,jdbcType=DOUBLE}, #{fullMarathonPb,jdbcType=DOUBLE}, 
      #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.wyq.study.pojo.BestRun" >
    insert into best_run
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fathest != null" >
        fathest,
      </if>
      <if test="longest != null" >
        longest,
      </if>
      <if test="averagePace != null" >
        average_pace,
      </if>
      <if test="fastPace != null" >
        fast_pace,
      </if>
      <if test="fivePb != null" >
        five_pb,
      </if>
      <if test="tenPb != null" >
        ten_pb,
      </if>
      <if test="halfMarathonPb != null" >
        half_marathon_pb,
      </if>
      <if test="fullMarathonPb != null" >
        full_marathon_pb,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fathest != null" >
        #{fathest,jdbcType=DOUBLE},
      </if>
      <if test="longest != null" >
        #{longest,jdbcType=DOUBLE},
      </if>
      <if test="averagePace != null" >
        #{averagePace,jdbcType=DOUBLE},
      </if>
      <if test="fastPace != null" >
        #{fastPace,jdbcType=DOUBLE},
      </if>
      <if test="fivePb != null" >
        #{fivePb,jdbcType=DOUBLE},
      </if>
      <if test="tenPb != null" >
        #{tenPb,jdbcType=DOUBLE},
      </if>
      <if test="halfMarathonPb != null" >
        #{halfMarathonPb,jdbcType=DOUBLE},
      </if>
      <if test="fullMarathonPb != null" >
        #{fullMarathonPb,jdbcType=DOUBLE},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wyq.study.pojo.BestRun" >
    update best_run
    <set >
      <if test="fathest != null" >
        fathest = #{fathest,jdbcType=DOUBLE},
      </if>
      <if test="longest != null" >
        longest = #{longest,jdbcType=DOUBLE},
      </if>
      <if test="averagePace != null" >
        average_pace = #{averagePace,jdbcType=DOUBLE},
      </if>
      <if test="fastPace != null" >
        fast_pace = #{fastPace,jdbcType=DOUBLE},
      </if>
      <if test="fivePb != null" >
        five_pb = #{fivePb,jdbcType=DOUBLE},
      </if>
      <if test="tenPb != null" >
        ten_pb = #{tenPb,jdbcType=DOUBLE},
      </if>
      <if test="halfMarathonPb != null" >
        half_marathon_pb = #{halfMarathonPb,jdbcType=DOUBLE},
      </if>
      <if test="fullMarathonPb != null" >
        full_marathon_pb = #{fullMarathonPb,jdbcType=DOUBLE},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wyq.study.pojo.BestRun" >
    update best_run
    set fathest = #{fathest,jdbcType=DOUBLE},
      longest = #{longest,jdbcType=DOUBLE},
      average_pace = #{averagePace,jdbcType=DOUBLE},
      fast_pace = #{fastPace,jdbcType=DOUBLE},
      five_pb = #{fivePb,jdbcType=DOUBLE},
      ten_pb = #{tenPb,jdbcType=DOUBLE},
      half_marathon_pb = #{halfMarathonPb,jdbcType=DOUBLE},
      full_marathon_pb = #{fullMarathonPb,jdbcType=DOUBLE},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>