<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress ALL -->
<mapper namespace="com.wyq.study.dao.FriendMapper">
    <resultMap id="BaseResultMap" type="com.wyq.study.pojo.Friend">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="friend_id" property="friendId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="User_Column_List">
        id, username, password, rank, profile, sex, height, weight, birthday, location, signature, age, gmt_create, gmt_modified
    </sql>
    <sql id="Base_Column_List">
    id, user_id, friend_id, status, create_time, modify_time
  </sql>
    <sql id="select_friends_id_by_user_id">
        SELECT user_id FROM friend WHERE friend_id = #{userId,jdbcType=INTEGER}
        UNION
        SELECT friend_id as user_id FROM friend WHERE user_id = #{userId,jdbcType=INTEGER})
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from friend
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getFriendByUserIdAndFriendId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM friend
        WHERE user_id = #{userId, jdbcType=INTEGER} AND friend_id = #{friendUserId, jdbcType=INTEGER}
    </select>
    <select id="getFriendStatus" resultType="java.lang.Integer">
        SELECT status
        FROM friend
        WHERE user_id = #{user1Id, jdbcType=INTEGER} AND friend_id = #{user2Id, jdbcType=INTEGER}
          OR user_id = #{user2Id, jdbcType=INTEGER} AND friend_id = #{user1Id, jdbcType=INTEGER}
    </select>
    <select id="listFriendsByUserIdAndStatusStatement" resultType="com.wyq.study.pojo.User">
        SELECT
        <include refid="User_Column_List"/>
        FROM user u
        WHERE u.id IN (SELECT user_id FROM friend WHERE friend_id = #{userId,jdbcType=INTEGER}
        AND status IN
        <foreach item="item" index="index" collection="statusList"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        UNION
        SELECT friend_id as user_id FROM friend WHERE user_id = #{userId,jdbcType=INTEGER}
        AND status IN <foreach item="item" index="index" collection="statusList"
                               open="(" separator="," close=")">
        #{item}
    </foreach>)
    </select>
    <select id="listFriendsByUserIdAndStatusStatementWithIdSequence" resultType="com.wyq.study.pojo.User">
        SELECT
        <include refid="User_Column_List"/>
        FROM user u
        WHERE u.id IN (SELECT user_id FROM friend WHERE friend_id = #{userId,jdbcType=INTEGER}
        AND status IN
        <foreach item="item" index="index" collection="statusList"
                 open="(" separator="," close=")">
            #{item}
        </foreach>)
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from friend
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByFriend" parameterType="com.wyq.study.pojo.Friend">
    delete from friend
    where user_id = #{userId,jdbcType=INTEGER} and friend_id = #{friendId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.wyq.study.pojo.Friend">
    insert into friend (id, user_id, friend_id, status, create_time, modify_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{friendId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER} ,#{createTime,jdbcType=TIMESTAMP},
    #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.wyq.study.pojo.Friend">
        insert into friend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="friendId != null">
                friend_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="friendId != null">
                #{friendId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wyq.study.pojo.Friend">
        update friend
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="friendId != null">
                friend_id = #{friendId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wyq.study.pojo.Friend">
    update friend
    set user_id = #{userId,jdbcType=INTEGER},
      friend_id = #{friendId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>